Game/Debug/CIntroState.obj
Game/Debug/CMenuState.obj
Game/Debug/CPlayState.obj
Game/Debug/GameManager.obj
Game/Debug/Match3.exe
Game/Debug/Match3.ilk
Game/Debug/Match3.log
Game/Debug/Match3.pdb
Game/Debug/Match3.tlog/CL.read.1.tlog
Game/Debug/Match3.tlog/CL.write.1.tlog
Game/Debug/Match3.tlog/Match3.lastbuildstate
Game/Debug/Match3.tlog/TZRES.DLL.bi
Game/Debug/Match3.tlog/cl.command.1.tlog
Game/Debug/Match3.tlog/link.command.1.tlog
Game/Debug/Match3.tlog/link.read.1.tlog
Game/Debug/Match3.tlog/link.write.1.tlog
Game/Debug/Match3.tlog/metagen.read.1.tlog
Game/Debug/Match3.tlog/metagen.write.1.tlog
Game/Debug/Renderer.obj
Game/Debug/Sprite.obj
Game/Debug/main.obj
Game/Debug/vc120.idb
Game/Debug/vc120.pdb
Game/Match3.opensdf
Game/Match3.sdf
*.obj
*.log
*.suo
/Docs/GameDeveloperTest-C.docx
/Game/Release/Match3.pdb
/Game/Release/Match3.tlog/Match3.lastbuildstate
/Game/Release/Match3.tlog/cl.command.1.tlog
/Game/Release/Match3.tlog/cl.read.1.tlog
/Game/Release/Match3.tlog/cl.write.1.tlog
/Game/Release/Match3.tlog/link.command.1.tlog
/Game/Release/Match3.tlog/link.read.1.tlog
/Game/Release/Match3.tlog/link.write.1.tlog
/Game/Release/vc120.pdb
/Game/data/blurredbackground1.jpg
/PlayableGame/Match3.exe
/PlayableGame/SDL2.dll
/PlayableGame/SDL2_image.dll
/PlayableGame/SDL2_mixer.dll
/PlayableGame/SDL2_ttf.dll
/PlayableGame/data/BackGround.jpg
/PlayableGame/data/Blue.png
/PlayableGame/data/Green.png
/PlayableGame/data/Purple.png
/PlayableGame/data/Red.png
/PlayableGame/data/Yellow.png
/PlayableGame/data/arialbd.ttf
/PlayableGame/data/click.wav
/PlayableGame/data/gingerbread man.png
/PlayableGame/data/hint.png
/PlayableGame/data/match.ogg
/PlayableGame/data/select.ogg
/PlayableGame/data/splash.png
/PlayableGame/data/swap.wav
/PlayableGame/libFLAC-8.dll
/PlayableGame/libfreetype-6.dll
/PlayableGame/libjpeg-9.dll
/PlayableGame/libmikmod-2.dll
/PlayableGame/libmodplug-1.dll
/PlayableGame/libogg-0.dll
/PlayableGame/libpng16-16.dll
/PlayableGame/libtiff-5.dll
/PlayableGame/libvorbis-0.dll
/PlayableGame/libvorbisfile-3.dll
/PlayableGame/libwebp-4.dll
/PlayableGame/smpeg2.dll
/PlayableGame/zlib1.dll
/Sundara-KingTest
